---
import Layout from '../layouts/Layout.astro';
import Pokedex from '../components/Pokedex';
---

<Layout title='Welcome to Astro.'>
  <main class='h-screen w-full'>
    <Pokedex client:load />
  </main>
</Layout>
